{% extends 'base.html' %} {% block content %}



<div class="detailContainer">
  {% for photo in car.photo_set.all %}
  <img class="responsive-img card-panel" src="{{photo.url}}" style="max-width:100px" >
{% empty %}
  <div class="card-panel teal-text center-align">No Photos Uploaded</div>
{% endfor %}

<table class="table">
    <thead>
      <tr>
        <th scope="col"> Car Number </th>
        <th scope="col"> Car Model </th>
        <th scope="col"> Car Make</th>
        <th scope="col"> Year </th>
        <th scope="col">Mileage </th>
        <th scope="col">Color </th>
        <th scope="col">Condition </th>
        
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>{{ car.name}} {{car.car_model}}</td>
        <td>{{ car.make}}</td>
        <td>{{ car.year}}</td>
        <td>{{ car.mileage}}</td>
        <td>{{ car.color}}</td>
        <td>{% if car.new %} Brand New {% else%} Used {%endif%}</td>
       
      </tr>

    </tbody>
  </table>

  <a href="{% url 'car_delete' car.id%}" class = 'deleteCarBTN BTN'> Delete Car </a>
  <a href="{% url 'car_update' car.id%}" class = 'updateCarBTN BTN'> Edit Car </a>

  </div>

<form action="{% url 'add_photo' car.id %}" enctype="multipart/form-data" method="POST" class="card-panel">
  {% csrf_token %}
  <input type="file" name="photo-file">
  <br><br>
  <input type="submit" class="btn" value="Upload Photo">
</form>



{% endblock %}
